<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/memberinfo.css">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400&display=swap&subset=japanese" rel="stylesheet">
    <title>Life is Tech リリース率</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Life is Tech Schoolのクラスがリリース率を競い合えるサイトです"/>
    <meta property="og:url" content="https://lit-release.herokuapp.com"/>
    <meta property="og:title" content="Life is Tech リリース率管理"/>
    <meta property="og:type" content="website">
    <meta property="og:description" content="Life is Tech Schoolのクラスがリリース率を競い合えるサイトです"/>
    <meta property="og:image" content="image/siteImage.png"/>
    <meta property="og:site_name" content="lit-release"/>
    <link rel="icon" href="image/siteImage.png" sizes="16x16" type="image/png"/>
    <link rel="icon" href="image/siteImage.png" sizes="32x32" type="image/png"/>
    <link rel="icon" href="image/siteImage.png" sizes="48x48" type="image/png"/>
    <link rel="icon" href="image/siteImage.png" sizes="62x62" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="image/siteImage.png" />
  </head>
  <body>
    <img src='image/chuui.png' class='chuui'>
    <div id="titleContainer">
      <h1 id="titleText"><%= @member.membername %>の進捗は<span id="per">0</span>％！！</h1>
    </div>
    <div id="homeButtonContainer">
      <svg id="homeButton" data-name="backButton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605 605"><rect class="cls-1" x="0.5" y="0.5" width="604" height="604" rx="129.61"/><polygon class="cls-2" points="551.5 264.84 162.35 264.84 161.84 212.3 51.67 302.58 163.57 390.7 163.06 338.16 551.5 338.16 551.5 264.84"/></svg>
    </div>
    <img id="yotei" src="image/yotei.png" alt="">
    <img id="release" src="image/release.png" alt="">
    <canvas id="slider"></canvas>
    <div id="cover"></div>
    <svg id="sliderCircle" data-name="sliderCircle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 605 605"><rect class="cls-1" x="0.5" y="0.5" width="604" height="604" rx="129.61"/></svg>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script>



      let resizeTimer = null;
      $(window).on("resize", function(e) {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function() {
          window.location.href = "/memberinfo"
        }, 200);
      });
      let percentage = parseFloat(<%= @percentage %>);

      $("#homeButton").on("click", function(e){
        window.location.href = "/membersettei";
      });

      $("#homeButtonContainer").css("top", window.innerHeight - window.innerWidth * 0.06 + "px");

      $("#slider").css("width", window.innerWidth * 0.8);
      $("#slider").css("height", "30");
      $("#slider").attr("width", window.innerWidth * 0.8);
      $("#slider").attr("height", "30");

      $("#slider").css("top", window.innerHeight * 0.6);
      $("#slider").css("left", window.innerWidth * 0.1);

      $("#sliderCircle").css("top", window.innerHeight * 0.6 - (parseFloat($("#sliderCircle").css("width")) - 30) / 2);
      $("#sliderCircle").css("left", window.innerWidth * 0.1 + window.innerWidth * 0.8 * percentage / 100 - parseFloat($("#sliderCircle").css("width")) / 2);

      let canvas = document.getElementById("slider");
      let sli = canvas.getContext("2d");

      $("#titleContainer").css("height", window.innerHeight * 0.7);
      $("#titleText").css("font-size", window.innerWidth * 0.03);
      $("#per").css("font-size", window.innerWidth * 0.06);

      $("#yotei").css("top", window.innerHeight * 0.65);
      $("#release").css("top", window.innerHeight * 0.50);

      let mousedown = false;

      $("#sliderCircle").on("mousedown", function(e){
        mousedown = true;
      });


      if (percentage < 20){
        sli.beginPath();
        sli.fillStyle = "rgba(155, 224, 89, 1)";
        sli.rect(0, 0, canvas.width * percentage / 100, 30);
        sli.fill();
        sli.closePath();
        $("body").css("background-color", "rgba(155, 224, 89, 0.5)");
      } else if (percentage < 40){
        sli.beginPath();
        sli.fillStyle = "rgb(66, 156, 215)";
        sli.rect(0, 0, canvas.width * percentage / 100, 30);
        sli.fill();
        sli.closePath();
        $("body").css("background-color", "rgba(66, 156, 215, 0.5)");
      } else if (percentage < 60){
        sli.beginPath();
        sli.fillStyle = "rgb(200, 95, 244)";
        sli.rect(0, 0, canvas.width * percentage / 100, 30);
        sli.fill();
        sli.closePath();
        $("body").css("background-color", "rgba(200, 95, 244, 0.5)");
      } else if (percentage < 80){
        sli.beginPath();
        sli.fillStyle = "rgb(240, 175, 89)";
        sli.rect(0, 0, canvas.width * percentage / 100, 30);
        sli.fill();
        sli.closePath();
        $("body").css("background-color", "rgba(240, 175, 89, 0.5)");
      } else if (percentage < 100){
        sli.beginPath();
        sli.fillStyle = "rgb(255, 80, 64)";
        sli.rect(0, 0, canvas.width * percentage / 100, 30);
        sli.fill();
        sli.closePath();
        $("body").css("background-color", "rgba(255, 80, 64, 0.5)");
      } else {
        sli.beginPath();
        sli.fillStyle = "rgb(245, 201, 69)";
        sli.rect(0, 0, canvas.width * percentage / 100, 30);
        sli.fill();
        sli.closePath();
        $("body").css("background-color", "rgba(245, 201, 69, 0.5)");
      }
      $("#per").html(Math.floor(percentage));





      $(window).on("mousemove", function(e){
        if (mousedown){
          if(e.clientX > window.innerWidth * 0.1 && e.clientX < window.innerWidth * 0.9){
            percentage = ((e.clientX - window.innerWidth * 0.1) / (window.innerWidth * 0.8)) * 100;
            console.log(percentage);
            $("#sliderCircle").css("left", window.innerWidth * 0.1 + window.innerWidth * 0.8 * percentage / 100 - parseFloat($("#sliderCircle").css("width")) / 2);
          } else if (e.clientX > window.innerWidth * 0.1){
            percentage = 100;
            $("#sliderCircle").css("left", window.innerWidth * 0.1 + window.innerWidth * 0.8 * percentage / 100 - parseFloat($("#sliderCircle").css("width")) / 2);
          } else{
            percentage = 0;
            $("#sliderCircle").css("left", window.innerWidth * 0.1 + window.innerWidth * 0.8 * percentage / 100 - parseFloat($("#sliderCircle").css("width")) / 2);
          }
        }
        sli.clearRect(0, 0, canvas.width, canvas.height);
        if (percentage < 20){
          sli.beginPath();
          sli.fillStyle = "rgba(155, 224, 89, 1)";
          sli.rect(0, 0, canvas.width * percentage / 100, 30);
          sli.fill();
          sli.closePath();
          $("body").css("background-color", "rgba(155, 224, 89, 0.5)");
        } else if (percentage < 40){
          sli.beginPath();
          sli.fillStyle = "rgb(66, 156, 215)";
          sli.rect(0, 0, canvas.width * percentage / 100, 30);
          sli.fill();
          sli.closePath();
          $("body").css("background-color", "rgba(66, 156, 215, 0.5)");
        } else if (percentage < 60){
          sli.beginPath();
          sli.fillStyle = "rgb(200, 95, 244)";
          sli.rect(0, 0, canvas.width * percentage / 100, 30);
          sli.fill();
          sli.closePath();
          $("body").css("background-color", "rgba(200, 95, 244, 0.5)");
        } else if (percentage < 80){
          sli.beginPath();
          sli.fillStyle = "rgb(240, 175, 89)";
          sli.rect(0, 0, canvas.width * percentage / 100, 30);
          sli.fill();
          sli.closePath();
          $("body").css("background-color", "rgba(240, 175, 89, 0.5)");
        } else if (percentage < 100){
          sli.beginPath();
          sli.fillStyle = "rgb(255, 80, 64)";
          sli.rect(0, 0, canvas.width * percentage / 100, 30);
          sli.fill();
          sli.closePath();
          $("body").css("background-color", "rgba(255, 80, 64, 0.5)");
        } else {
          sli.beginPath();
          sli.fillStyle = "rgb(245, 201, 69)";
          sli.rect(0, 0, canvas.width * percentage / 100, 30);
          sli.fill();
          sli.closePath();
          $("body").css("background-color", "rgba(245, 201, 69, 0.5)");
        }
        $("#per").html(Math.floor(percentage));
      });
      $(window).on("mouseup", function(e){
        mousedown = false;
        let id =
        $.ajax("/usermain", {
          type: "POST",
          data: {
            percentage: percentage,
            memberid: <%= @member.id %>
          },
          datatyle: "html"
        });
      });
      $(".chuui").css("display", "none");
      $(window).on("mousedown", function(e){
        $(".chuui").stop();
        $(".chuui").css("display", "inline");
        $(".chuui").css("opacity", 1);
        $(".chuui").css("left", e.clientX);
        $(".chuui").css("top", e.clientY);
        $(".chuui").fadeOut(1500);
      });
    </script>
  </body>
</html>
