*{
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  color: rgb(50, 50, 50);
  pointer-events: none;
  user-select: none;
}

body{
  background-color: lightyellow;
}

#cover{
  position: fixed;
  z-index: 85;
  width: 100%;
  height: 100%;
}

#slider{
  position: fixed;
  border: 3px solid gray;
  z-index: 8000;
}

#sliderCircle{
  position: fixed;
  border-radius: 50%;
  width: 3%;
  -webkit-transition: all 0;
  -o-transition: all 0;
  transition: all 0;
  z-index: 9000;
  fill: rgb(245, 201, 69);
  stroke-width: 10%;
  stroke: lightgray;
}

#titleContainer{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#titleText{
  position: relative;
}

#yotei{
  position: fixed;
  width: 80%;
  left: 10%;
  opacity: 0.8;
}
#release{
  position: fixed;
  width: 5%;
  left: 87.5%;
}

#homeButton{
  position: absolute;
  width: 80%;
  fill: rgb(66, 156, 215);
  background-color: rgb(66, 156, 215);
  user-select: auto;
  pointer-events: auto;
  border-radius: 20%;
}


#homeButtonContainer{
  position: fixed;
  width: 6%;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 800;
  user-select: auto;
  pointer-events: auto;
}

#homeButton:hover{
  width: 100%;
}

.chuui{
  width: 10%;
  position: fixed;
  z-index: 100000;
}

#homeButton .cls-1{
  fill: rgb(66, 156, 215);
}
#homeButton .cls-2{
  fill: white;
}
#homeButton .cls-3{
  fill: rgb(66, 156, 215);
}
