*{
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  color: rgb(50, 50, 50);
}

#allContainer{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body{
  background-color: lightyellow;
}

#userButton{
  position: absolute;
  width: 80%;
}
#userButton .cls-1{
  fill: rgb(66, 156, 215);
}
#userButton .cls-2{
  fill: white;
}
#userButton .cls-3{
  fill: white;
}
#userButtonContainer{
  position: fixed;
  width: 6%;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 800;
}
#userButton:hover{
  width: 100%;
}


.selectButton{
  position: relative;
  width: 80%;
  fill: rgb(245, 201, 69);
}

.selectContainer:hover .selectButton{
  width: 100%;
}

.selectContainer{
  position: relative;
  width: 22.2%;
  margin: 1.375%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameContainer div{
  width: 100%;
  height: 100%;
}

.nameLabel{
  position: absolute;
}

.name{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

#hContainer{
  position: fixed;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
